scripts/utils/__pycache__/helpers.cpython-37.pyc
scripts/X1_QC_SpeciesClassify/__pycache__/species_helpers.cpython-37.pyc
scripts/utils/__pycache__/stlearn_helpers.cpython-37.pyc
scripts/utils/__pycache__/helpers.cpython-37.pyc
scripts/utils/__pycache__/helpers.cpython-37.pyc
scripts/X2_DEAnalysis/__pycache__/
scripts/utils/postprocessing/__pycache__/__init__.cpython-37.pyc
scripts/utils/postprocessing/format/__pycache__/__init__.cpython-37.pyc
scripts/utils/postprocessing/format/__pycache__/format.cpython-37.pyc
scripts/utils/tools/__pycache__/__init__.cpython-37.pyc
scripts/utils/tools/pseudosampling/__pycache__/__init__.cpython-37.pyc
scripts/utils/tools/pseudosampling/__pycache__/pseudosampling.cpython-37.pyc
temp_tiling/
data/scanpy_h5ads/*
data/third_party_data/HCL2020/*

# Figure components
figure_components/QC_figure/*
figure_components/species_figure/*
figure_components/DE_figures/*
figure_components/giotto_figures/*
figure_components/HumanAnnot_figures/*
!figure_components/QC_figure/.gitkeep
!figure_components/species_figure/.gitkeep
!figure_components/DE_figures/.gitkeep
!figure_components/giotto_figures/.gitkeep
!figure_components/HumanAnnot_figures/.gitkeep

# Related to X1_
Visium8_*
.idea/
data/seurat_rds/

# Related to X2_
data/DE_out/Table_S2_MixSpotsDE.xlsx

data/DE_out/Pseudo_Limma_human/*.pdf
data/DE_out/Pseudo_Limma_human/*.xlsx
data/DE_out/Pseudo_Limma_human/*.rds
data/DE_out/Pseudo_Limma_human/data/*
data/DE_out/Pseudo_Limma_human/gsea_out/*
!data/DE_out/Pseudo_Limma_human/data/.gitkeep
!data/DE_out/Pseudo_Limma_human/gsea_out/.gitkeep

data/DE_out/Pseudo_Limma_mixHuman/*.pdf
data/DE_out/Pseudo_Limma_mixHuman/*.xlsx
data/DE_out/Pseudo_Limma_mixHuman/*.rds
data/DE_out/Pseudo_Limma_mixHuman/data/*
!data/DE_out/Pseudo_Limma_mixHuman/data/.gitkeep

data/DE_out/Pseudo_Limma_mixMouse/*.pdf
data/DE_out/Pseudo_Limma_mixMouse/*.xlsx
data/DE_out/Pseudo_Limma_mixMouse/*.rds
data/DE_out/Pseudo_Limma_mixMouse/data/*
!data/DE_out/Pseudo_Limma_mixMouse/data/.gitkeep

data/DE_out/Pseudo_Limma_mouse/*.pdf
data/DE_out/Pseudo_Limma_mouse/*.xlsx
data/DE_out/Pseudo_Limma_mouse/*.rds
data/DE_out/Pseudo_Limma_mouse/data/*
!data/DE_out/Pseudo_Limma_mouse/data/.gitkeep

# Related to X3_





